name: Linux/MacOS Build

on: [push, pull_request]

#env:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build_type : [ Release, Debug ]
        os : [ macos-latest, ubuntu-20.04 ]
        include:
          - os: ubuntu-20.04
            cxx: /usr/bin/g++-9
          - os: macos-latest
            cxx: clang++

    name: "${{ matrix.os }}: ${{ matrix.cxx }} ${{ matrix.build_type }}"
    runs-on: ${{ matrix.os }}
    env:
      CXX : ${{ matrix.cxx }}
      CCACHE_DIR : ${{github.workspace}}/build/.ccache
      CCACHE_COMPRESS : true
      CCACHE_COMPRESSLEVEL : 6
      BUILD_CONFIG : >
        -G Ninja
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -DCMAKE_PREFIX_PATH=/usr/local/Cellar/eigen/3.3.9;/usr/local/opt/bison
        -DBUILD_SHARED_LIBS=OFF
        -DMPIEXEC_PREFLAGS='--bind-to;none;--allow-run-as-root'
        -DENABLE_FORTRAN=OFF
        -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/installed
        -DWITH_MAX_AM=2;2
        -DERI_MAX_AM_LIST=2,2
        -DERI3_MAX_AM_LIST=3,2
        -DENABLE_ERI=1
        -DENABLE_ERI3=1
        -DENABLE_ONEBODY=1
        -DDISABLE_ONEBODY_PROPERTY_DERIVS=ON
        -DMULTIPOLE_MAX_ORDER=2
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}

    steps:
    - uses: actions/checkout@v2

    - id: skip_check
      name: Check if can skip
      uses: fkirc/skip-duplicate-actions@v3.4.0
      with:
        cancel_others: 'true'

    - name: Create Build Environment
      if: ${{ steps.skip_check.outputs.should_skip != 'true' }}
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      # N.B. can't seem to create ${{github.workspace}}/install for some reason, use 'installed'
      run: |
        cmake -E make_directory ${{github.workspace}}/build
        cmake -E make_directory ${{github.workspace}}/test_installed_library
        cmake -E make_directory ${{github.workspace}}/installed

    - name: Install prerequisite MacOS packages
      if: ${{ steps.skip_check.outputs.should_skip != 'true' && matrix.os == 'macos-latest' }}
      run: |
        brew install ninja gcc@10 boost eigen bison ccache
        echo "FC=/usr/local/bin/gfortran-10" >> $GITHUB_ENV
        echo "EIGEN3_INCLUDE_DIR=/usr/local/include/eigen3" >> $GITHUB_ENV

    - name: Install prerequisites Ubuntu packages
      if: ${{ steps.skip_check.outputs.should_skip != 'true' && matrix.os == 'ubuntu-20.04' }}
      run: |
        sudo apt-get update
        sudo apt-get install ninja-build g++-9 gfortran-9 liblapack-dev libmpfr-dev libboost-dev libeigen3-dev ccache
        echo "FC=/usr/bin/gfortran-9" >> $GITHUB_ENV
        echo "EIGEN3_INCLUDE_DIR=/usr/include/eigen3" >> $GITHUB_ENV

    - name: Prepare ccache timestamp
      if: ${{ steps.skip_check.outputs.should_skip != 'true' }}
      id: ccache_cache_timestamp
      shell: cmake -P {0}
      run: |
        string(TIMESTAMP current_date "%Y-%m-%d-%H;%M;%S" UTC)
        message("::set-output name=timestamp::${current_date}")

    - name: Setup ccache cache files
      if: ${{ steps.skip_check.outputs.should_skip != 'true' }}
      uses: actions/cache@v1.1.0
      with:
        path: ${{github.workspace}}/build/.ccache
        key: ${{ matrix.config.name }}-ccache-${{ steps.ccache_cache_timestamp.outputs.timestamp }}
        restore-keys: |
          ${{ matrix.config.name }}-ccache-

    - name: Generate+build Libint library (ExternalProject)
      if: ${{ steps.skip_check.outputs.should_skip != 'true' && matrix.build_type == 'Debug'}}
      shell: bash
      working-directory: ${{github.workspace}}
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=$BUILD_TYPE $BUILD_CONFIG
        cmake --build build
        cmake --build build --target install
        #cd src/bin/test_eri && ./stdtests.pl && cd ../../..

    - name: Generate+build Libint library (FetchContent)
      if: ${{ steps.skip_check.outputs.should_skip != 'true' && matrix.build_type != 'Debug'}}
      shell: bash
      working-directory: ${{github.workspace}}
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DLIBINT_BUILD_LIBRARY_AS_SUBPROJECT=ON $BUILD_CONFIG
        cmake --build build --target libint-library-export
        cmake --build build --target check-libint2
        cmake --build build --target install
        #cd src/bin/test_eri && ./stdtests.pl && cd ../../..

    - name: Test installed Libint library
      if: ${{ steps.skip_check.outputs.should_skip != 'true' }}
      shell: bash
      working-directory: ${{github.workspace}}/test_installed_library
      run: |
        cat > CMakeLists.txt <<EOF
        cmake_minimum_required(VERSION 3.8)
        project(hf++)
        find_package(Libint2 2.7.0 REQUIRED)
        find_package(Threads)  # clang does not autolink threads even though we are using std::thread
        add_executable(hf++ EXCLUDE_FROM_ALL ${{github.workspace}}/tests/hartree-fock/hartree-fock++.cc)
        target_link_libraries(hf++ Libint2::cxx Threads::Threads)
        EOF
        cmake . -DCMAKE_PREFIX_PATH=${{github.workspace}}/installed
        cmake --build . --target hf++
        ./hf++ ${{github.workspace}}/tests/hartree-fock/h2o_rotated.xyz | python ${{github.workspace}}/tests/hartree-fock/hartree-fock++-validate.py ${{github.workspace}}/build/libint-2*/features
